---
layout: archive
title: "Research"
permalink: /Research/
author_profile: true
---

{% include base_path %}

I've had the opportunity to work on a lot of different projects with various roles from leading the project to helping install instruments. These projects have all been so fun
and really important to my increasing my knowledge of coastal processes, instrument hardware, experimental design, and field campaign logistics. If you have questions about anything 
please don't hesitate to reach out!

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

